	<!-- -*- mode: XML -*- -->
<launch>
  <node pkg="t_flex" name="imu_data_acquisition_left" type="imu_data_acquisition.py" args="-b 7 -a 0x29 -n /imu_data/left"  output ='screen'/>

  <node pkg="t_flex" name="imu_data_acquisition_right" type="imu_data_acquisition.py" args="-b 7 -a 0x28 -n /imu_data/right"  output ='screen'/>
</launch>
