<launch>
  <!-- <node pkg="plotjuggler" type="PlotJuggler" name="my_plot_Juggler" /> -->
  <!-- node pkg="t_flex" name="imu_data_acquisition" type="imu_data_acquisition.py" output ='screen' /> -->
  <node pkg="t_flex" name="threshold_gait_detection_node" type="threshold_gait_detection_node" output ='screen'/>
</launch>
